@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
        line-height: 20px;
        max-width: 100%
    }

    /* Typography */
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px 40px; 
        width: 100%; 
    }
    .header__logo {
        width: 120px;
        margin-bottom: 10px;
    }
    .header__title {
        font-size: 35px;
        margin: 10px 0;
        text-align: center;
    }
    .header__nav {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .header__list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .header__item {
        margin: 0 10px;
    }
    .header__link {
        padding: 8px;
    }
    .main {
        padding: 15px 5px;
    }

    .main__content {
        display: grid; 
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .about {
        padding: 15px; 
        width: 71%;
        font-size: 16px;
    }

    .tours {
        padding: 10px;
    }
    .tourss {
        padding: 10px;
        width: 71%;
    }

    .tours__title {
        font-size: 24px;
    }

    .tours__item {
        padding: 15px;
        width: 71%;
    }
    .tours__image {
        width: 250px;
        height: 150px;
    }

    .tours__description, 
    .tours__price, 
    .tours__date {
        font-size: 14px;
    }

    .faq {
        background-color: #ffffff; 
        padding: 10px;
        border-radius: 6px;
        width: 71%;
    }

    .faq__question {
        font-size: 20px;
    }

    .faq__answer {
        font-size: 12px;
    }

    .reviews {
        padding: 10px;
        margin-bottom: 20px;
        width: 71%;
    }

    .reviews__title {
        font-size: 24px;
    }

    .reviews__item {
        width: 100%;
        margin-bottom: 10px;
    }

    .reviews__image {
        height: 130px;
    }

    .reviews__text {
        font-size: 12px;
    }
    .guides {
        padding: 15px; /* Уменьшение отступов */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 71%;
    }
    .guides__title {
        font-size: 24px;
    }
    .facts {
        margin-bottom: 20px;
        padding: 15px;
        width: 71%;
    }

    .footer {
        width: 100%;
    } 
}