.footer {
    background-color: #4b5763;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
.footer__body {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
}
.footer__map,
.footer__info {
    flex: 1; 
    margin: 0 20px;
}
.footer__map {
    margin-left: 50px;
    transition: transform 0.4s;
}

.footer__map:hover {
    transform: scale(1.05);
}

.footer__info {
    text-align: left;
    padding: 0 20px;
}
.footer__contacts {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}
.footer__info {
    text-align: left;
}
.footer__link {
    text-decoration: none;
    color: white;
}