body {
    margin: 0;
    background-color: #29343E;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25282F;
    padding: 20px;
    color: white;
    border-radius: 8px;
}
.header__logo {
    border-radius: 50%;
    width: 150px;
    height: auto;
}
.header__title {
    font-size: 45px;
    margin: 0 38px;
    color: #ecf0f1;
    font-family: 'Denistina';
}
.header__nav {
    flex-grow: 1;
}
.header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Gdadugi.ttf';
}
.header__item {
    margin-left: 20px;
}
.header__link {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px;
    transition: background-color 0.3s;
}
.header__link:hover {
    background-color: #292b2e;
    border-radius: 5px; 
}
.header__link:active,
.header__link:focus {
    outline: none; 
}


    
